EduardoIvanovaQuitto-GameDev1/.vs
EduardoIvanovaQuitto-GameDev1/UserSettings
*.slnx
*.sln
*.csproj
*.vsconfig
EduardoIvanovaQuitto-GameDev1/obj
EduardoIvanovaQuitto-GameDev1/Logs
EduardoIvanovaQuitto-GameDev1/.vscode
EduardoIvanovaQuitto-GameDev1/Library
